
@{
    ViewData["Title"] = "Listings";
}

@model List<RadioCabs.Models.Company>

<div class="container my-5">
    <div class="row" style="margin-top: 150px;">
        @if (TempData["AlertMessage"] != null)
        {
            <div class="alert alert-@TempData["AlertType"] alert-dismissible fade show" style="margin:20px;">
                @TempData["AlertMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>

            <script>
                // Auto-close alert after 5 seconds
                setTimeout(() => {
                    $('.alert').alert('close');
                }, 5000);
            </script>
        }
    <h1 class="mb-5">Radio Cabs Company Listings</h1>
        <div class="col-12 col-md-12 col-lg-4">
            @Html.Partial("_CompanyForm", new RadioCabs.Models.Company())
        </div>
        <div class="col-12 col-md-12 col-lg-8">
            <div class="row">
               @foreach(var company in Model){
                   <div class="col-12 col-md-6 col-lg-4">
                       <div class="card my-4 my-md-0" style="background-color: #f8f9fa; border: 1px solid #ddd;">
                           <div class="card-body">
                               <h5>@company.CompanyName</h5>
                                <p class="text-black"><strong>Address:</strong> @company.Address</p>
                                <p class="text-black"><strong>Mobile:</strong> <a href="tel:@company.Mobile" target="_blank">@company.Mobile</a></p>
                                <p class="text-black"><strong>Email:</strong> <a href="mailto:@company.Email" target="_blank">@company.Email</a></p>
                                <a asp-action="CompanyFullDetails" asp-controller="Home" asp-route-id="@company.Id" class="btn btn-warning">More info</a>
                           </div>
                       </div>
                   </div>
               }
            </div>
        </div>
    </div>
</div>